**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/TestResults/
docker-compose.*
README.md
.git
.gitignore
.env
/Src/__SolutionName__.Api/appsettings.Development.json
/Src/__SolutionName__.Infrastructure/Migrations