
bin/
obj/
*/migrations/
*.db
*.user
Logs/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
/__SolutionName__.Api/appsettings.Development.json
/__SolutionName__.Infrastructure/Migrations
/Src/__SolutionName__.Api/appsettings.Development.json
